<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4 col-xs-offset-4">
      <br>
      <h2 class="text-center">Login</h2>
      <br>
      <%= bootstrap_form_for(resource, label_errors: true, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= f.email_field :email, autofocus: true, required: true, validate: true %>

          <%= f.password_field :password, autocomplete: "off", required: true, validate: true%>

          <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
          <% end -%>

          <%= f.submit "Login", class: "btn btn-primary", id: "login_main" %>
      <% end %>

      <br>
      <%= render "users/shared/links" %>

    </div>
  </div>
</div>
