<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= job_request.title %> </h3>
  </div>
  <div class="panel-body ">
    <b>Description:</b> <%= job_request.description %>
    <br>
    <b>Location:</b> <%= job_request.location %>
    <br>
    <b>Rate: </b> <%= job_request.hourly_rate %>
    <br>
    <b>Categories: </b> <%= job_request.categories %>
  </div>
</div>