<div class="container">
   <div class="row">
      <div class="col-sm-12">
        <br>
        <h2> Searching job requests for: <%= params[:q] %> </h2>
        <ul class="list-group">
            <% @job_requests.each do |job_request| %>
            <li class="list-group-item">
                <%=link_to "#{job_request.title}", job_request_path(job_request) %>
                <p><%= job_request.description %></p>
                <p><%= job_request.location %></p>
            </li>
            <% end %>
        </ul>
        <div class = 'text-center'>
        <%= paginate @job_requests %>
        </div>
    </div>
</div>
</div>