<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4 col-xs-offset-4">
      <br><br><br>
      <div class="text-center">
      <h2>
      <%= @job_request.title%>
      </h2>
      <br>
      <h4>
      Description
      </h4>
      <p> 
      <%= @job_request.description %>
      </p>
      <br>
      <h4>
      Location
      </h4>
      <p>
      <%= @job_request.location %>
      </p>
      <br>
      <h4>
      Hourly Rate
      </h4>
      <p>
      <%= @job_request.hourly_rate %>
      </p>
      <br>
      <h4>
      Categories
      </h4>
      <p>
      <%= @job_request.categories %>
      </p>
      </div>
    </div>
  </div>
</div>
