<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4 col-xs-offset-4">
      <br><br><br>
      <div class="text-center">
      <h2>
      <%= @job_request.title%>
      </h2>
      <br>
      <h4>
      Description
      </h4>
      <p> 
      <%= @job_request.description %>
      </p>
      <br>
      <h4>
      Location
      </h4>
      <p>
      <%= @job_request.location %>
      </p>
      <br>
      <h4>
      Hourly Rate
      </h4>
      <p>
      <%= @job_request.hourly_rate %>
      </p>
      <br>
      <h4>
      Categories
      </h4>
      <p>
      <%= @job_request.categories %>
      </p>
      <%if JobRequest.find_by(id: params[:id]).customer == current_user.customer %>
      <%= link_to 'Edit', edit_job_request_path(@job_request),class: "btn btn-primary", id: "edit_job_request"%>
      <%= link_to 'Delete', job_request_path(@job_request), :method => :delete, class: "btn btn-primary" , id: "delete_job_request"%> 
      <% end %>
      <%if current_user.role == 'contractor' %>
      <%= link_to 'Make Job Offer', new_job_offer_path(:job_request => @job_request) , :method => :get, class: "btn btn-primary", id: "make_job_offer" %>    
      <% end %>
      </div>
    </div>
  </div>
</div>
