<p>
  <strong>Job Title:</strong>
  <%= @job.name %>
</p>
 
<p>
  <strong>Job Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Job Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @job.start_date %>
</p>

<p>
  <strong>End Location:</strong>
  <%= @job.end_date%>
</p>

<%= link_to 'All Jobs', jobs_path %>