
<p>
  <strong>Job Title:</strong>
  <%= @job.name %>
</p>
 
<p>
  <strong>Job Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Job Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @job.start_date %>
</p>

<p>
  <strong>End Location:</strong>
  <%= @job.end_date%>
</p>

<p>
  <strong>Completed:</strong>
  <% if @job.completed %>
      <i class="fa fa-1x fa-check-square" aria-hidden="true"></i>
  <% else %>
     <i class="fa fa-1x fa-times" aria-hidden="true"></i>
  <% end %>
</p>

<%= link_to 'Edit Job' , edit_job_path(@job) %>

<%= link_to 'Delete this job', job_path(@job),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

<%= link_to 'All Jobs', jobs_path %>