<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= request.title %> </h3>
  </div>
  <div class="panel-body">
    <b>Description:</b> <%= request.description %>
    <br>
    <b>Location:</b> <%= request.location %>
    <br>
    <b>Rate: </b> <%= request.hourly_rate %>
    <br>
    <b>Catagories: </b> <%= request.catagories %>
  </div>
</div>