<%= content_tag :li, class: (notification.read) ? 'list-group-item read-message' : 'list-group-item', id: "notification_#{notification.id}" do %>
    <%= content_tag :span, notification.notification_for.capitalize, name: 'notification_for_badge', class: "badge-#{notification.notification_for} pull-left" %>
    <%= notification.message %>&nbsp;

    <span class="text-muted">
      <%= time_ago_in_words(notification.created_at, include_seconds: true) %>&nbsp;ago
    </span>

    <%= link_to hide_notification_path(notification.id), class: 'pull-right', id: "hide_#{notification.id}", method: :put, title: 'Delete', data: {toggle: 'tooltip', placement: 'right'} do %>
        <span class="fa fa-trash pull-right"></span>
    <% end %>

    <%= link_to toggle_read_status_notification_path(notification.id), class: 'pull-right', name: 'toggle_read_status', id: "toggle_read_status_#{notification.id}", remote: true, method: :put, title: (notification.read) ? 'Mark as unread' : 'Mark as read', data: {toggle: 'tooltip', placement: 'left'} do %>
        <span class="fa fa-check pull-right"></span>
    <% end %>
<% end %>
