<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4 col-xs-offset-4">
      <br>
      <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
      <br>
      <h4> 
      <%=current_user.email %>
      </h4>

      <%= bootstrap_form_for(resource, label_errors: true, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>


          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <%= f.text_field :first_name %>
          <%= f.text_field :last_name %>
          <%= f.password_field :password, autocomplete: "off", help: "(leave blank if you don't want to change it)" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>

          <%= f.password_field :current_password, autocomplete: "off", help: "(we need your current password to confirm your changes)" %>

          <div class="text-center">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
      <% end %>
      <br>
      <div class="text-center">
        <% if not current_user.customer %>
          <%= button_to "Create Customer Account", customers_path , class: "btn btn-success", id: "create_customer_account" %>
        <% elsif not current_user.contractor %>
          <%= button_to "Create Contractor Account", contractors_path, class: "btn btn-success", id: "create_contractor_account" %>
        <%end%>
      </div>
      <div class="text-center">
        <h4>Unhappy?</h4>
        <%= button_to "Cancel my account", registration_path(resource_name), class: "btn-sm btn-link", id: "delete_account_btn", data: { confirm: "Are you sure you want to delete your account, this action cannnot be undone." }, method: :delete %>
        <br>

      </div>
    </div>
  </div>
</div>
