<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4 col-xs-offset-4">
      <br>
      <h2 class="text-center">Signup</h2>
      <br>
      <%= bootstrap_form_for(resource, label_errors: true, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.text_field :first_name, autofocus: true %>
          <%= f.text_field :last_name %>
          <%= f.select :role, [["------------", ""], ["Customer", "customer"], ["Contractor", "contractor"], ["Both", "both"]]%>
          <%= f.email_field :email%>
          <%= f.password_field :password, autocomplete: "off", help: "(8 characters mininum)" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <%= f.submit "Sign up", class: "btn btn-primary" %>
      <% end %>
      <br>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
